.nav-button {
  text-decoration: none;
  display: block;
  border-radius: var(--radius-2);
}

.nav-button-inner {
  border-radius: var(--radius-2);
  color: var(--gray-11);
  transition: background-color 0.1s ease;
}

.nav-button-inner:hover {
  background-color: var(--gray-a3);
}

.nav-button-inner.active {
  background-color: var(--accent-a3);
  color: var(--accent-11);
}
